/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import '@/assets/layout/styles/layout/layout.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* PrimeVue */
@import 'primevue/resources/primevue.min.css';
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';
@import 'leaflet/dist/leaflet.css';
.speedometer-label {
  color: #000000 !important;
}

#app {
    background-color: var(--surface-ground);
}

a {
  text-decoration: none !important;
}
* {
  font-family: 'Noto Serif';
}

.card {
    background: var(--surface-card)!important;
    border: 1px solid var(--surface-border)!important;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow)!important;
    border-radius: 12px;
}